/* EMRTable.css */
* {
  font-family: Space Grotesk Var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;


}


.MuiDataGrid-root {
  background-color: white; /* Set a consistent background color */
}

/* Style the DataGrid container */
.emr-table-container {
  background-color: white;
}

/* Style the DataGrid rows */
.MuiDataGrid-row {
  border-bottom: 1px solid #ccc; /* Grey line between rows */
}

/* Style the DataGrid header cells */
.MuiDataGrid-cell--header {
  font-weight: bold; /* Bold header titles */
}

/* Style the Job ID cells with light green text */
.MuiDataGrid-cell--JobID {
color : #63E892;
}
