


html {
  font-family: 'Space Grotesk', sans-serif;
}


body {
  background-color: white;
  
}



.MuiDataGrid-root {
  background-color: white; /* Set a consistent background color */
}

/* Style the DataGrid container */
.emr-table-container {
  background-color: white;
}

/* Style the DataGrid rows */
.MuiDataGrid-row {
  border-bottom: 1px solid #ccc; /* Grey line between rows */
}

/* Style the DataGrid header cells */
.MuiDataGrid-cell--header {
  font-weight: bold; /* Bold header titles */
}

/* Style the Job ID cells with light green text */
.MuiDataGrid-cell--JobID {
color : #63E892;
}


.your-h3-class {
  color:black;
 font-weight: 500;
 font-size: 15px;
 /* font-family: 'Space Grotesk', sans-serif; */

  /* Your styles for the h3 element */
}

.job-id {
  font-size: 15px;
  color :rgb(40, 179, 89);
  /* font-family: 'Space Grotesk', sans-serif; */

  
}
